flask 
pyjwt
sendgrid
# python-env
python-dotenv
requests
flask 
#psutil 
requests
cors
python-magic
flask_cors
gunicorn
werkzeug
markupsafe
click
blinker
blueprint
jinja2
itsdangerous
urllib3
idna
certifi
pyotp
